@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #eee;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#root {
  width: 90%;
  max-width: 650px;
}

.title {
  text-transform: uppercase;
  font-weight: 200;
  font-size: clamp(3rem, 10vmin, 6rem);
}

.score {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.board {
  background-color: #555;
  aspect-ratio: 1;
  display: grid;
  gap: 5px;
  padding: 5px;
  margin-block: 1rem;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  border-radius: 16px;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vmin;
  background-color: #888;
}

.tile:is([data-status="hide"]):hover {
  background-color: #777;
}

.tile:is([data-status="hide"]):active {
  background-color: #666;
}

.tile:nth-child(1) {
  border-radius: 12px 0 0 0;
}

.tile:nth-child(10) {
  border-radius: 0 12px 0 0;
}

.tile:nth-child(91) {
  border-radius: 0 0 0 12px;
}

.tile:nth-child(100) {
  border-radius: 0 0 12px 0;
}

.board > [data-status="hide"] {
  cursor: pointer;
}

.board > [data-status="mine"] {
  background-color: hsl(0 100% 50%);
}

.board > [data-status="mine"]::after {
  content: "💣";
  width: 100%;
  height: 100%;
}

.board > [data-status="flag"] {
  background-color: hsl(65 100% 50%);
}

.board > [data-status="flag"]::after {
  content: "🚩";
  width: 100%;
  height: 100%;
}

.board > [data-status="show"] {
  background: none;
  box-shadow: none;
  border: 1px solid #c1c289;
}
