@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent: #c1c289;
}

body {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #eee;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#root {
  width: 90%;
  max-width: 650px;
}

.title {
  text-transform: uppercase;
  font-weight: 200;
  font-size: clamp(3rem, 10vmin, 6rem);
}

.score {
  font-size: clamp(1rem, 5vmin, 2rem);
  margin-bottom: 2rem;
}

.tip {
  font-size: clamp(0.75rem, 5vmin, 1.5rem);
  font-weight: 200;
}

.settings {
  width: 80%;
  min-width: 250px;
  position: relative;
  margin-inline: auto;
  font-size: clamp(1rem, 3vmin, 1.5rem);
  padding: 1.5rem;
  border: 1px solid var(--accent);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.settings::after {
  content: "Settings";
  position: absolute;
  top: 0;
  left: 1.5rem;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.2em 0.8em;
  border: 1px solid var(--accent);
  border-radius: 100vmax;
  background-color: #222;
  transform: translateY(-50%);
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.board {
  background-color: #555;
  aspect-ratio: 1;
  display: grid;
  gap: 5px;
  padding: 5px;
  margin-block: 1rem;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  border-radius: 16px;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.5rem, 2.5vmin, 3rem);
  background-color: #888;
}

.tile:is([data-status="hide"]):hover {
  background-color: #777;
}

.tile:is([data-status="hide"]):active {
  background-color: #666;
}

.board > [data-status="hide"] {
  cursor: pointer;
}

.tile:nth-child(1) {
  border-radius: 12px 0 0 0;
}

.tile:nth-child(10) {
  border-radius: 0 12px 0 0;
}

.tile:nth-child(91) {
  border-radius: 0 0 0 12px;
}

.tile:nth-child(100) {
  border-radius: 0 0 12px 0;
}

.board > [data-status="mine"]::after,
.board > [data-status="flag"]::after {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.board > [data-status="mine"]::after {
  content: "💣";
}

.board > [data-status="flag"]::after {
  content: "🚩";
}

.board > [data-status="mine"] {
  background-color: hsl(0 100% 50%);
}

.board > [data-status="flag"] {
  background-color: hsl(65 100% 50%);
}

.board > [data-status="show"] {
  background: none;
  box-shadow: none;
  border: 1px solid var(--accent);
}
